@use "colors";


$time_font: "Fantasque Sans Mono";

window.bar {
  background: rgba(colors.$mantle, 20%);
  padding: 4px 6px;

  .module-hyprland {
	button.workspace {
	  padding: 6px 6px 4px 6px;
	  border-radius: 16px;
	  color: mix(colors.$base, colors.$accent);
	  min-width: 0;
	  border: 1px solid transparent;
	  border-bottom: 3px solid transparent;
	  transition-property: background-color, border-color, color;

	  &.focused {
		color: colors.$text;
		background: rgba(mix(colors.$accent, colors.$base, 10%), 40%);
		border-color: colors.$accent;
		padding-top: 5px;
		padding-bottom: 5px;

		&:hover, &:active {
		  padding-top: 6px;
		  padding-bottom: 6px;
		  border-bottom-width: 1px;
		}
	  }

	  &.occupied {
		color: colors.$text;
	  }
	}
  }

  .module-time {
	font-family: $time_font;
	font-feature-settings: 'tnum';
	font-weight: 600;
	font-size: 18px;
  }

  .module-audio {
	.icon {
	  font-size: 18px;
	}
  }

  .module-system, .module-audio, .module-tray > menubutton, .module-time {
	> button {
	  padding: 6px 4px;
	}
  }

  .module-screenrec {
	> button {
	  padding: 4px;
	}

	.timer {
	  margin-bottom: 2px;
	  font-size: 14px;
	  font-weight: 500;
	  font-feature-settings: 'tnum';
	}
  }

  .module-tray, .module-screenrec {
	padding: 4px;
	background: rgba(colors.$accent, 10%);
	border-radius: 16px;

	button {
	  border-radius: 12px;
	}
  }
}

switch, switch slider {
  all: unset;
}

switch {
  background: mix(colors.$base, colors.$accent, 60%);
  border-radius: 16px;
  -gtk-icon-size: 14px;
  transition: background 0.1s;
  padding: 4px;
  > slider {
	background: colors.$accent;
	border-radius: 16px;
	transition-duration: 0.2s;
	transition-property: outline, background;
	&:hover {
	  outline: 4px solid rgba(colors.$mauve, 40%);
	}
  }
  &:checked {
	background: mix(colors.$overlay2, colors.$accent, 25%);
	> slider {
	  background: colors.$base;
	  &:hover {
		outline-color: rgba(colors.$base, 20%)
	  }
	}
  }
}