@use "colors";
@use "bar";

$icon_font: "Material Symbols Rounded";

button, label, levelbar, levelbar * {
  all: unset;
}

.icon {
  font-family: $icon_font;
}

menubutton:checked {
  background: rgba(colors.$accent, 20%);
}

levelbar {
  &, * {
	all: unset;
  }

  trough {
	min-width: 3px;

	block.filled {
	  background: colors.$accent;
	  border-radius: 2px;
	}
  }
}

button {
  transition: background-color 0.1s;
  padding: 0 6px;
  border-radius: 16px;

  &:hover {
	background: rgba(colors.$accent, 10%);
  }

  &:active {
	background: rgba(colors.$accent, 20%);
  }
}

.value-slider {
  .icon {
	background: colors.$accent;
	color: colors.$base;
	padding: 4px 6px;
	border-radius: 12px;
  }
}

.popover-quick-settings, .popover-audio {
  > contents, > arrow {
	box-shadow: none;
	border: 2px solid colors.$container_elevated;
	background: colors.$container;
  }

  > contents {
	border-radius: 28px;
  }
}

.popover-quick-settings {
  .top-bar, .bottom-bar {
	box-shadow: none;
	background: colors.$container;
  }

  .top-bar {
	margin-bottom: 8px;
  }

  toolbarview {
	headerbar {
	  border-radius: 18px;
	  background: colors.$container_elevated;
	}
  }

  .qs-tile {
	border-radius: 20px;
	padding: 8px 16px;
	background: colors.$container_elevated;

	.icon {
	  font-size: 20px;
	}

	.text {
	  font-size: 14px;
	  font-weight: 600;
	}

	&.active {
	  background: colors.$accent;
	  color: colors.$crust;
	}
  }

  .qs-controls {
	background: colors.$container_elevated;
	padding: 8px 12px;
	border-radius: 20px;
  }

  .qs-main-page {
	padding: 8px;
  }

  .qs-page {
	padding: 4px;

	&.wifi {
	  .qs-content-list .item .icon {
		font-size: 20px;
	  }
	}

	&.bluetooth {
	  .qs-content-list .item .device-icon {
		background: colors.$accent;
		-gtk-icon-style: symbolic;
		color: colors.$base;
		padding: 4px;
		border-radius: 8px;
	  }
	}

	.qs-content-list {
	  background: colors.$container;

	  .item > .trigger {
		padding: 8px 12px;
		border-radius: 18px;
		transition: 0.1s background-color;
		font-weight: 500;

		&:hover {
		  background: rgba(colors.$accent, 10%);
		}

		&:active {
		  background: rgba(colors.$accent, 20%);
		}
	  }
	}

	.qs-page-title {
	  font-weight: bold;
	}

	.qs-page-actions {
	  margin-right: -28px;
	}
  }
}